.ui-label {
    -unity-font: url('project://database/Assets/_Content/Fonts/Gaffuk.otf?fileID=12800000&guid=2b5ca9280ad03a344aeb4828815ca783&type=3#Gaffuk');
    font-size: 140px;
    -unity-font-definition: none;
    margin-top: 25px;
    -unity-text-align: upper-center;
}
