.ui-label {
    -unity-font: url('project://database/Assets/_Content/Fonts/MochiyPopOne-Regular.ttf?fileID=12800000&guid=458b3684c7ea7ac468c5e126eb1537e0&type=3#MochiyPopOne-Regular');
    font-size: 100px;
    -unity-font-definition: none;
    margin-top: 25px;
    -unity-text-align: upper-center;
}
