.ui-BG {
    background-color: rgba(1, 200, 214, 0.5);
}

.ui-gameTitle {
    -unity-font: url('project://database/Assets/_Content/Fonts/MochiyPopOne-Regular.ttf?fileID=12800000&guid=458b3684c7ea7ac468c5e126eb1537e0&type=3#MochiyPopOne-Regular');
    -unity-font-definition: none;
    font-size: 135px;
    color: rgba(255, 255, 255, 255);
}
